* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  box-sizing: border-box;
}
body {
  background-color: rgba(250, 250, 250, 1);
}
.hero {
  height: 630.4px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0)),
    url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: center;
}
.title {
  -webkit-text-stroke: 1px white;
  color: transparent;
  margin-top: 100px;
}
h1 {
  font-size: 35px;
  text-transform: uppercase;
}
.title-1 {
  color: white;
  width: 608.6px;
  padding-right: 52.73px;
  padding-bottom: 57px;
  /* -webkit-text-stroke: 1px white;
  color: transparent; */
}
.uk-grid-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.uk-grid {
  display: flex;
  gap: 61px;
  width: 1116px;
  height: 446px;
  justify-content: center;
}
.uk-overlay {
  background-image: url(./img/Div\ [cover].png);
  width: 446px;
  height: 446px;
  border: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 1s ease;
}
.uk-overlay:hover {
  background-size: 110%;
}
.author {
  display: flex;
  color: white;
  /* background-color: blue; */
  width: 739px;
  height: 44px;
  align-items: center;
  gap: 5px;
}
.author-thisweek-right {
  color: black;
  justify-content: right;
}
.author-link {
  width: 44px;
  height: 44px;
  background-size: 100%;
}
.author-name {
  color: black;
  font-size: 12px;
  opacity: 70%;
  font-weight: 700;
}
.author-name-right {
  text-align: right;
}
.uk-navbar {
  display: flex;
  height: 42px;
  justify-content: space-around;
  padding-top: 24px;
  /* margin-top: 24px; */
}
.uk-search {
  opacity: 0.5;
  color: gray;
}
.uk-navbar-content-main {
  display: flex;
  align-content: center;
  width: 468px;
  justify-content: space-around;
}
.uk-navbar-content-2 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.gray-texts {
  opacity: 0.5;
  color: gray;
  font-size: 11.6px;
  font-weight: 400;
  line-height: 20px;
}
.techworm-text {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}
.chip {
  display: flex;
  background-color: rgba(209, 209, 209, 0.6);
  text-decoration: none;
  color: white;
  font-size: 11.8px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  width: 142.68px;
  height: 40px;
  line-height: 24px;
  font-weight: 500;
}
.coming-soon {
  margin-top: auto;
  margin-bottom: auto;
}
.blue-dot {
  font-size: 17.9px;
  font-weight: 500;
  line-height: 10px;
  color: rgba(0, 120, 246, 1);
}
.social-links-main {
  display: flex;
  gap: 5px;
  align-items: center;
}
.editors-choice {
  /* display: flex; */
  width: auto;
  height: 327px;
  background-color: black;
  justify-content: center;
}
.section-tile {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  width: 1116.01px;
  height: 27.5px;
  margin-left: auto;
  margin-right: auto;
}
.slider-nav {
  display: flex;
  background-color: gray;
  align-items: center;
  width: 52.6px;
  height: 27px;
  justify-content: center;
  border-radius: 25px;
}
.editors-choice-text {
  line-height: 24px;
  font-size: 15.8px;
  font-weight: 700;
  color: white;
}
.slider-nav00 {
  text-decoration: none;
  color: white;
}
.slider-container {
  display: flex;
  justify-content: center;
  height: 477.36px;
  margin-top: -250px;
}
.slider {
  display: flex;
  gap: 28px;
  margin-top: 37px;
}
/* .slider img {
  border-radius: 9px;
} */
.uk-overlay-panel {
  border-radius: 9px;
  width: 244px;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.uk-overlay-panel:hover {
  width: 294px;
  height: 410px;
}
.png-1 {
  background-image: url(./img/Div\ 1\ [cover].png);
}
.png-2 {
  background-image: url(./img/Div\ 2\ [cover].png);
}
.png-3 {
  background-image: url(./img/Div\ 3\ [cover].png);
}
.png-4 {
  background-image: url(./img/Div\ 4\ [cover].png);
}
.png-5 {
  background-image: url(./img/Div\ 5\ [cover].png);
}
.lead {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 218px;
  height: 20px;
  color: white;
}
.meta00 {
  /* background-color: aqua; */
  width: 210px;
  height: 111px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.meta-details {
  display: flex;
  color: white;
  gap: 10px;
}
.title-2 {
  color: white;
  width: 210px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  overflow: hidden;
}
.category {
  background-color: rgba(0, 120, 246, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9.5px;
  line-height: 20px;
  font-weight: 500;
  /* margin-top: -5px */
  /* width: auto; */
  height: 23px;
  border-radius: 20px;
  text-transform: uppercase;
}
.category-how-i-work {
  width: 167px;
}
.category-meduushtei {
  width: 87px;
}
.category-techworm {
  width: 80px;
}
.article-container {
  min-width: 1186px;
  height: 1588px;
}
.thisweek {
  margin-left: auto;
  margin-right: auto;
  width: 1116px;
  height: 1400px;
  flex-wrap: wrap;
}
.article1 {
  /* display: flex; */
  margin-bottom: 47px;
  transition: all 0.5s ease;
}
.article1:hover {
  scale: 1.01;
}
.article1-head {
  color: rgba(0, 120, 246, 1);
  display: flex;
  position: absolute;
  top: 27px;
  left: 27px;
  gap: 12px;
  font-size: 12.4px;
  line-height: 22px;
  font-weight: 700;
}
.content {
  width: 608.6px;
}
.content-thisweek {
  width: 739px;
  height: 183px;
  position: relative;
  border-radius: 0 27px 27px 27px;
  background-color: white;
}
.thisweek-date {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: gray;
}
.article1-head span {
  color: rgba(0, 120, 246, 1);
  font-weight: 700;
}
.article1-content {
  font-size: 21.1px;
  font-weight: 700;
  line-height: 26px;
  position: absolute;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  width: 450px;
  top: 50px;
  left: 45px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}
.article1-content-png {
  background-size: 100%;
  width: 125px;
  height: 125px;
  position: absolute;
  top: 28px;
  right: 65px;
}
.thisweek-png1 {
  background-image: url(./img/article1-content\ [cover].png);
}
.thisweek-png2 {
  background-image: url(./img/article\ 2[cover].png);
}
.thisweek-png3 {
  background-image: url(./img/article\ 3\ [cover].png);
}
.thisweek-png4 {
  background-image: url(./img/article\ 4\ [cover].png);
}
.thisweek-png5 {
  background-image: url(./img/article\ 5\ [cover].png);
}
.article-left {
  justify-self: flex-start;
}
.article-right {
  justify-self: flex-end;
}
.right {
  align-content: right;
}
.prev-week-main {
  border-bottom: 36px;
}
.prev-week {
  width: 1116px;
  height: 1400.78px;
  margin-right: auto;
  margin-left: auto;
}
.prevweek-tab {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  padding-bottom: 10px;
}
.prev-week-current {
  color: rgba(0, 120, 246, 1);
  text-decoration: none;
  font-size: 12.6px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}
.prevweek-tab-texts {
  text-decoration: none;
  color: rgba(136, 136, 136, 1);
  font-size: 12.6px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}
.uk-active {
  width: 1135px;
  height: 1302.79px;
}
.deeznuts {
  height: 82px;
  top: 4057.53px;
  gap: 0px;
  border-radius: 0px 0px 36px 36px;
  background-color: rgba(250, 250, 250, 1);
}
footer {
  height: 750px;
  background-color: rgba(0, 0, 0, 1);
  /* display: flex;
  justify-content: center; */
}
.uk-container {
  max-width: 1186px;
  height: 545px;
  background-color: whitesmoke;
}
.uk-grid-content {
  /* width: 1135px; */
  /* height: 633.9px; */
  display: grid;
  /* grid-template-columns: repeat(12);
  grid-template-rows: repeat(9); */
  /* gap: 19px; */
  margin-bottom: 54px;
}
.read {
  background-color: rgba(115, 87, 74, 1);
  width: 62.54px;
  position: absolute;
  height: 28px;
  text-align: center;
  align-content: center;
  border-radius: 7px;
  right: 17px;
  bottom: 93px;
  color: white;
  font-size: 11.8px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15000000596046448px;
}
.grid-content {
  padding: 10px 20px 0 20px;
  text-decoration: none;
  color: white;
  width: auto;
  height: 107px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
h4 {
  width: auto;
}
h6 {
  font-size: 11.6px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.30000001192092896px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
}
.grid-1 {
  background-image: url(./img/big\ grid\ [uk-cover-background].png);
  width: 548.5px;
  height: 361.47px;
  grid-column: 1 / 7;
  position: relative;
}
.grid-2 {
  background-image: url(./img/2\ [uk-cover-background].png);
  width: 264.75px;
  height: 271.93px;
  grid-column: 7 / 10;
  position: relative;
}
.grid-3 {
  background-image: url(./img/3\ [uk-cover-background].png);
  width: 264.75px;
  height: 271.93px;
  grid-column: 10 / 13;
  position: relative;
}
.grid-4 {
  background-image: url(./img/4\ [uk-cover-background].png);
  width: 264.75px;
  height: 234.24px;
  grid-row: 7 / 10;
  grid-column: 1 / 4;
  position: relative;
}
.grid-5 {
  background-image: url(./img/5\ [uk-cover-background].png);
  width: 264.75px;
  height: 234.24px;
  grid-row: 7 / 10;
  grid-column: 4 / 10;
  position: relative;
}
.grid-6 {
  background-image: url(./img/6\ [uk-cover-background].png);
  width: 264.75px;
  height: 323.97px;
  grid-row: 5 / 10;
  grid-column: 7 / 10;
  position: relative;
}
.grid-7 {
  background-image: url(./img/7\ [uk-cover-background].png);
  width: 264.75px;
  height: 323.97px;
  grid-row: 5 / 10;
  grid-column: 10 / 13;
  position: relative;
}
.grid-2-1 {
  background-image: url(./img/2-1[uk-cover-background].png);
  width: 548.5px;
  height: 361.47px;
  grid-column: 1 / 7;
  position: relative;
}
.grid-2-2 {
  background-image: url(./img/2-2\ [uk-cover-background].png);
  width: 264.75px;
  height: 271.93px;
  grid-column: 7 / 10;
  position: relative;
}
.grid-2-3 {
  background-image: url(./img/2-3\ [uk-cover-background].png);
  width: 264.75px;
  height: 271.93px;
  grid-column: 10 / 13;
  position: relative;
}
.grid-2-4 {
  background-image: url(./img/2-4\ [uk-cover-background].png);
  width: 264.75px;
  height: 234.24px;
  grid-row: 7 / 10;
  grid-column: 1 / 4;
  position: relative;
}
.grid-2-5 {
  background-image: url(./img/2-5\ [uk-cover-background].png);
  width: 264.75px;
  height: 234.24px;
  grid-row: 7 / 10;
  grid-column: 4 / 10;
  position: relative;
}
.grid-2-6 {
  background-image: url(./img/2-6\ [uk-cover-background].png);
  width: 264.75px;
  height: 323.97px;
  grid-row: 5 / 10;
  grid-column: 7 / 10;
  position: relative;
}
.grid-2-7 {
  background-image: url(./img/2-7\ [uk-cover-background].png);
  width: 264.75px;
  height: 323.97px;
  grid-row: 5 / 10;
  grid-column: 10 / 13;
  position: relative;
}
.grids-all {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 18px;
}
