* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  box-sizing: border-box;
}
.hero {
  height: 630.4px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0)),
    url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: center;
}
.title {
  -webkit-text-stroke: 1px white;
  color: transparent;
  margin-top: 100px;
}
h1 {
  font-size: 35px;
  text-transform: uppercase;
}
.title-1 {
  color: white;
  width: 608.6px;
  padding-right: 52.73px;
  padding-bottom: 57px;
  /* -webkit-text-stroke: 1px white;
  color: transparent; */
}
.uk-grid-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.uk-grid {
  display: flex;
  gap: 61px;
  width: 1116px;
  height: 446px;
  justify-content: center;
}
.uk-overlay {
  background-image: url(./img/Div\ [cover].png);
  width: 446px;
  height: 446px;
  background-repeat: no-repeat;
}
.author {
  display: flex;
  color: white;
  /* background-color: blue; */
  width: 608.6px;
  height: 44px;
  align-items: center;
}
.author-link {
  width: 44px;
  height: 44px;
  background-size: 100%;
}
.author-name {
  font-size: 12px;
  opacity: 70%;
  font-weight: 700;
}
.uk-navbar {
  display: flex;
  height: 42px;
  justify-content: space-around;
  padding-top: 24px;
  /* margin-top: 24px; */
}
.uk-search {
  opacity: 0.5;
  color: gray;
}
.uk-navbar-content-main {
  display: flex;
  align-content: center;
  width: 468px;
  justify-content: space-around;
}
.uk-navbar-content-2 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.gray-texts {
  opacity: 0.5;
  color: gray;
  font-size: 11.6px;
  font-weight: 400;
  line-height: 20px;
}
.techworm-text {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}
.chip {
  display: flex;
  background-color: rgba(209, 209, 209, 0.6);
  text-decoration: none;
  color: white;
  font-size: 11.8px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  width: 142.68px;
  height: 40px;
  line-height: 24px;
  font-weight: 500;
}
.coming-soon {
  margin-top: auto;
  margin-bottom: auto;
}
.blue-dot {
  font-size: 17.9px;
  font-weight: 500;
  line-height: 10px;
  color: rgba(0, 120, 246, 1);
}
.social-links-main {
  display: flex;
  gap: 5px;
  align-items: center;
}
.editors-choice {
  /* display: flex; */
  width: auto;
  height: 327px;
  background-color: black;
  justify-content: center;
}
.section-tile {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  width: 1116.01px;
  height: 27.5px;
  margin-left: auto;
  margin-right: auto;
}
.slider-nav {
  display: flex;
  background-color: gray;
  align-items: center;
  width: 52.6px;
  height: 27px;
  justify-content: center;
  border-radius: 25px;
}
.editors-choice-text {
  line-height: 24px;
  font-size: 15.8px;
  font-weight: 700;
  color: white;
}
.slider-nav00 {
  text-decoration: none;
  color: white;
}
.slider-container {
  display: flex;
  justify-content: center;
  height: 477.36px;
  margin-top: -250px;
}
.slider {
  display: flex;
  gap: 28px;
  margin-top: 37px;
}
/* .slider img {
  border-radius: 9px;
} */
.uk-overlay-panel {
  border-radius: 9px;
  width: 244px;
  height: 360px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.png-1 {
  background-image: url(./img/Div\ 1\ [cover].png);
}
.png-2 {
  background-image: url(./img/Div\ 2\ [cover].png);
}
.png-3 {
  background-image: url(./img/Div\ 3\ [cover].png);
}
.png-4 {
  background-image: url(./img/Div\ 4\ [cover].png);
}
.png-5 {
  background-image: url(./img/Div\ 5\ [cover].png);
}
.lead {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 218px;
  height: 20px;
  color: white;
}
.meta00 {
  /* background-color: aqua; */
  width: 210px;
  height: 111px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.meta-details {
  display: flex;
  color: white;
  gap: 10px;
}
.title-2 {
  color: white;
  width: 210px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  overflow: hidden;
}
.category {
  background-color: rgba(0, 120, 246, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9.5px;
  line-height: 20px;
  font-weight: 500;
  /* margin-top: -5px */
  width: auto;
  height: 23px;
  border-radius: 20px;
  text-transform: uppercase;
}
